<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/TrangChu/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TrangChu/datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/TrangChu/CSS.css" rel="stylesheet" />
    <script src="~/Content/TrangChu/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/TrangChu/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/TrangChu/datepicker/js/bootstrap-datepicker.js"></script>
</head>
<body onload="displayCalendar()">
    <div class="main">
        <nav class="head navbar navbar-default" style="z-index:9999">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="logo">
                        <img src="~/Content/TrangChu/Hinh/logo-1.png" alt="Logo Website">
                    </div>
                </div>

                <!--Menu ngang-->
                <div class="collapse navbar-collapse menu" id="main-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Phòng</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ListRoom","Room")">Danh sách phòng</a></li>
                                <li><a href="Room-detail.html">Đặt phòng</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="Blog-grid.html">Danh sách Blog</a></li>
                                <li><a href="Blog-Post.html">Blog Post</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="Contact.html">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clearfix"></div>

        @RenderBody()
        
        <!--Giới thiệu khách sạn-->
        <div class="hotel">
            <h2 class="line"><span>Hotel Introdution</span></h2>
            <h3>CHÀO MỪNG QUÝ KHÁCH!</h3>
            <p>
                Đà Lạt, Việt Nam, là điểm đến vùng núi tuyệt hảo của Đông Nam Á và đã được dành riêng để trở thành thủ phủ củaChính quyền Đông Dương thuộc Pháp trong những năm 1920. Cao nguyên Lang Bian từng nổi tiếng là một điểm đến săn bắn tuyệt vời trong những ngày đầu và từ đó đã phát triển thành một địa điểm tận hưởng dịch vụ đánh gôn có một không hai.<br>
                Tọa lạc ngay trung tâm thành phố Đà Lạt nhìn xuống Hồ Xuân Hương, ba cơ sở của chúng tôi bao gồm một khách sạn 5 sao là Dalat Palace Heritage Hotel (trước đây là Sofitel Dalat Palace), một khách sạn 4 sao là Du Parc Hotel Dalat (trước đây là Novotel Dalat) và sân gôn Dalat Golf Club
            </p>
        </div>
        <div class="hotel-inf">
            <div class="hotel-List">
                <div class="palace">
                    <h3>KHÁCH SẠN DALAT PALACE HERITAGE</h3>
                    <img src="~/Content/TrangChu/Hinh/palace_logo_200.png">
                    <p>Chào mừng quý khách đến với khách sạn DALAT PALACE HERITAGE HOTEL (trước đây là SOFITEL DALAT PALACE).</p>
                    <p>Được xây dựng từ năm 1922 của thế kỷ trước, khách sạn Dalat Palace thể hiện đẳng cấp thanh lịch sang trọng với dịch vụ hoàn hảo và vẻ duyên dáng thời thuộc địa Pháp.</p>
                    <p><a href="#">Read me</a></p>
                </div>
                <div class="palace">
                    <h3>KHÁCH SẠN DU PARC DALAT</h3>
                    <img src="~/Content/TrangChu/Hinh/duparc_logo_200.png">
                    <p>Thư giãn tại khách sạn DU PARC DALAT (trước đây là NOVOTEL DALAT), biểu tượng của sự sang trọng nằm tại địa điểm sầm uất gần trung tâm thành phố, khách sạn mang lại sự trãi nghiêm tinh túy của nền văn hóa phong phú và đa dạng của Việt Nam.</p>
                    <p>Thư giãn tại khách sạn DU PARC DALAT (trước đây là NOVOTEL DALAT)...</p>
                    <p><a href="#">Read me</a></p>
                </div>
                <div class="palace">
                    <h3>SÂN GOLF DALAT</h3>
                    <img src="~/Content/TrangChu/Hinh/golf_logo_200.png">
                    <p>Dalat Palace Golf Club là sân golf được đánh giá cao và là nơi thu hút một số lượng lớn những người đam mê chơi golf quốc tế. Với độ dài 7,009 yard, sân gôn gồm một chuỗi liên tục các lỗ gôn đầy sáng tạo và đòi hỏi nhiều cố gắng.</p>
                    <p>Sân gôn được trùng tu với chi phí hàng triệu đô la vào năm 1994, và tái mở cửa trong sự trông chờ...</p>
                    <p><a href="#">Read me</a></p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="col-footer">
                <div class="content-footer">
                    <h4>ABOUT STARHOTEL</h4>
                    <p>Suspendisse sed sollicitudin nisl, at dignissim libero. Sed porta tincidunt ipsum, vel volutpat.</p>
                    <p>Nunc ut fringilla urna. Cras vel adipiscing ipsum. Integer dignissim nisl eu lacus interdum facilisis. Aliquam erat volutpat. Nulla semper vitae felis vitae dapibus.</p>
                </div>
                <div class="calendar-month">
                    <h4>CALENDAR</h4>
                    <div id="calendar"></div>
                </div>
                <div class="blog-footer">
                    <h4>FROM OUR BLOG</h4>
                    <ul class="list-blog">
                        <li>
                            <div class="news">
                                <div class="new-thumb">
                                    <a href="#">
                                        <img src="~/Content/TrangChu/Hinh/footer.jpg">
                                    </a>
                                </div>
                                <div class="new-content clearfix">
                                    <h4><a href="#">New lounge area</a></h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="news">
                                <div class="new-thumb">
                                    <a href="#">
                                        <img src="~/Content/TrangChu/Hinh/footer.jpg">
                                    </a>
                                </div>
                                <div class="new-content clearfix">
                                    <h4><a href="#">New lounge area</a></h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="news">
                                <div class="new-thumb">
                                    <a href="#">
                                        <img src="~/Content/TrangChu/Hinh/footer.jpg">
                                    </a>
                                </div>
                                <div class="new-content clearfix">
                                    <h4><a href="#">New lounge area</a></h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="address">
                    <h4>ADDRESS</h4>
                    <div class="text-footer">
                        <p>
                            Starhotel<br>
                            795 Las Palmas<br>
                            Spain, CA 94107<br>
                            P: (123) 456-7890<br>
                            E: mail@example.com<br>
                            W: www.slashdown.nl
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--javascrip chạy slide-->
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("slide");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("slide")
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }
            x[slideIndex - 1].style.display = "block";
            setTimeout(carousel, 4000);
        }
        //định dạng date
        $(function () {
            $('.datepicker').datepicker()
        });
        //calendar
        function displayCalendar() {
            var htmlContent = "";
            var FebNumberOfDays = "";
            var counter = 1;


            var dateNow = new Date();
            var month = dateNow.getMonth();

            var nextMonth = month + 1; //+1; //Used to match up the current month with the correct start date.
            var prevMonth = month - 1;
            var day = dateNow.getDate();
            var year = dateNow.getFullYear();


            //Determing if February (28,or 29)
            if (month == 1) {
                if ((year % 100 != 0) && (year % 4 == 0) || (year % 400 == 0)) {
                    FebNumberOfDays = 29;
                } else {
                    FebNumberOfDays = 28;
                }
            }


            // names of months and week days.
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thrusday", "Friday", "Saturday"];
            var dayPerMonth = ["31", "" + FebNumberOfDays + "", "31", "30", "31", "30", "31", "31", "30", "31", "30", "31"]


            // days in previous month and next one , and day of week.
            var nextDate = new Date(nextMonth + ' 1 ,' + year);
            var weekdays = nextDate.getDay();
            var weekdays2 = weekdays
            var numOfDays = dayPerMonth[month];




            // this leave a white space for days of pervious month.
            while (weekdays > 0) {
                htmlContent += "<td class='monthPre'></td>";

                // used in next loop.
                weekdays--;
            }

            // loop to build the calander body.
            while (counter <= numOfDays) {

                // When to start new line.
                if (weekdays2 > 6) {
                    weekdays2 = 0;
                    htmlContent += "</tr><tr>";
                }



                // if counter is current day.
                // highlight current day using the CSS defined in header.
                if (counter == day) {
                    htmlContent += "<td class='dayNow'  onMouseOver='this.style.background=\"#FF0000\"; this.style.color=\"#FFFFFF\"' " +
                    "onMouseOut='this.style.background=\"#FFFFFF\"; this.style.color=\"#00FF00\"'>" + counter + "</td>";
                } else {
                    htmlContent += "<td class='monthNow' onMouseOver='this.style.background=\"#FF0000\"'" +
                    " onMouseOut='this.style.background=\"#FFFFFF\"'>" + counter + "</td>";

                }

                weekdays2++;
                counter++;
            }



            // building the calendar html body.
            var calendarBody = "<table class='calendar'> <tr class='monthNow'><th colspan='7'>"
            + monthNames[month] + " " + year + "</th></tr>";
            calendarBody += "<tr class='dayNames'>  <td>Sun</td>  <td>Mon</td> <td>Tues</td>" +
            "<td>Wed</td> <td>Thurs</td> <td>Fri</td> <td>Sat</td> </tr>";
            calendarBody += "<tr>";
            calendarBody += htmlContent;
            calendarBody += "</tr></table>";
            // set the content of div .
            document.getElementById("calendar").innerHTML = calendarBody;

        }
    </script>


</body>
</html>
