@model KhachSan.Models.Post
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/TemplateAdmin/_admin.cshtml";
}
@Scripts.Render("~/Scripts/AdminLTE/plugins/ckeditor/ckeditor.js")
@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table class="table table-hover table-striped ">
        <tr>
            <td>
                <h2>Thêm Bài viết</h2>
            </td>
        </tr>
        <tr>
            <td>
                @*@Html.ValidationSummary(true)*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10 ">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentPost, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ContentPost, new { @id = "ContentPost", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentPost)
                        <!-- CK Editor -->
                        <script>
                            CKEDITOR.replace("ContentPost");
                        </script>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Picture, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="Picture" id="Picture" />
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.UseDescription, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("UseDescription", new { @class = "", id = "UseDescription", data_toggle = "toggle" })
                        @Html.ValidationMessageFor(model => model.UseDescription)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBox("Active", new { @class = "", id = "Active", data_toggle = "toggle" })
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-12">
            <label>Thể loại</label>
            @helper RenderHtmlBlogs(KhachSan.Models.Blog blog)
            {
                <li class="list-group-item ">
                    <div class="checkbox">
                        <label class="btn btn-link"><input type="checkbox" name="Blogs" value="@blog.ID" />@blog.Name </label> <span class="badge pull-right">@blog.Posts.Count</span>
                    </div>
                    <ul class="list-group">
                        @foreach (var item in blog.Blog1)
                        {
                            @RenderHtmlBlogs(item)
                        }
                    </ul>
                </li>
}
            <ul class="list-group ">
                @foreach (var item in ViewBag.ListBlogs)
                {
                    @RenderHtmlBlogs(item)
                }
            </ul>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng" class="btn btn-primary" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
}

