@using PagedList;
@using PagedList.Mvc;
@model IPagedList<KhachSan.Models.Post>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Quản lý Post";
    Layout = "~/Areas/Admin/Views/TemplateAdmin/_admin.cshtml";
}
<div class="form-group form-inline">
    @Html.ActionLink("Thêm bài viết", "Create", null, new { @class = "btn btn-primary pull-left" })
    <form class="form-inline pull-right" style="margin-right:40px;">
        @{var num = new[] { 5, 10, 20, 100 };
        }
        @if (ViewBag.SumPost > 5)
        {
            <label for="numDisplay">Hiển thị: &nbsp;</label>
            <div class="form-group">
                <select class="form-control " name="numDisplay" id="numDisplay" onchange="this.form.submit()">
                    @for (int i = 0; i < num.Count(); i++)
                {
                    if (num[i] >= ViewBag.SumPost)
                    {
                            <option value="0" selected="@(ViewBag.NumDisplay==0)">Tất cả</option>
                            break;
                        }
                        <option value="@num[i]" selected="@(ViewBag.NumDisplay==num[i])">@num[i]</option>
                    }
                </select>
            </div>
        }
        <label for="txtSearch">Tìm kiếm: </label>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm bài viết..." name="q" value="@ViewBag.SearchName" id="search-box">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </form>
</div>
<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sort = ViewBag.NameSort, q = ViewBag.SearchName })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().ContentPost)
        </th>
        <th>
            @Html.ActionLink("Created", "Index", new { sort = ViewBag.CreatSort, q = ViewBag.SearchName })
        </th>
        <th>
            @Html.ActionLink("Author", "Index", new { sort = ViewBag.AuthorSort, q = ViewBag.SearchName })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().UseDescription)
        </th>
        <th>
            @Html.ActionLink("Active", "Index", new { sort = ViewBag.ActiveSort, q = ViewBag.SearchName })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Edit", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @{
                    string linkImage = "#";
                    linkImage = item.Picture ?? "#";

                }
                <img width="100" height="100" src="@Url.Content(linkImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseDescription)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Active, new { data_toggle = "toggle" })
            </td>
            <td>
                <a href="#" title="Sửa post" onclick="Edit(@item.ID) " @*data-toggle=" modal" data-target="#modalEdit" *@><i class="fa fa-pencil" aria-hidden="true"></i> </a> |
                <a href="#" title="Chi tiết post" data-toggle="modal" data-target="#modalDetails_@item.ID"><i class="fa fa-info-circle" aria-hidden="true"></i> </a> |
                <a href="#" title="Xoá post" data-toggle="modal" data-target="#modalDelete_@item.ID"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                @* Modal delete *@
                <div class="modal fade" id="modalDelete_@item.ID" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Xoá bài viết</h4>
                            </div>
                            <div class="modal-body" id="contentModalDetails" style="min-width: 100px;">
                                <table class="table  table-striped">
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Title)</td>
                                    </tr>
                                    <tr>
                                        <th>Mô tả</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Description)</td>
                                    </tr>
                                    <tr>
                                        <th>Ngày tạo</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Created)</td>
                                    </tr>
                                    <tr>
                                        <th>Tác giả</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Author)</td>
                                    </tr>
                                    <tr>
                                        <th>Ảnh</th>
                                        <td>
                                            @{
                                                linkImage = "#";
                                                linkImage = item.Picture ?? "#";

                                            }
                                            <img width="100" height="100" src="@Url.Content(linkImage)" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>UseDescription</th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UseDescription)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Hoạt động</th>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.Active, new { data_toggle = "toggle" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <div class="col-xs-8"></div>
                                @using (Html.BeginForm("Delete", "Posts", new { id = item.ID }, FormMethod.Post, new { @class = "col-xs-2", style = "padding:2px" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-block btn-danger" id="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>

                                }
                                <div class="col-xs-2">
                                    <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Modal Details *@
                <div class="modal fade" id="modalDetails_@item.ID" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Chi tiết bài viết</h4>
                            </div>
                            <div class="modal-body" id="contentModalDetails" style="min-width: 100px;">
                                <table class="table  table-striped">
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Title)</td>
                                    </tr>
                                    <tr>
                                        <th>Mô tả</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Description)</td>
                                    </tr>
                                    <tr>
                                        <th>Ngày tạo</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Created)</td>
                                    </tr>
                                    <tr>
                                        <th>Tác giả</th>
                                        <td>@Html.DisplayFor(model => model.FirstOrDefault().Author)</td>
                                    </tr>
                                    <tr>
                                        <th>Ảnh</th>
                                        <td>
                                            @{
                                                linkImage = "#";
                                                linkImage = item.Picture ?? "#";

                                            }
                                            <img width="100" height="100" src="@Url.Content(linkImage)" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>UseDescription</th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UseDescription)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Hoạt động</th>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.Active, new { data_toggle = "toggle" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group form-inline">
                                    <div class="col-xs-6"></div>
                                    <div class="col-xs-2" style="padding: 2px">
                                        <a type="button" class="btn btn-block btn-warning " href="@Url.Action("Edit", new {id = item.ID})"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa</a>
                                    </div>
                                    <div class="col-xs-2" style="padding: 2px">
                                        <button type="button" onclick="DeleteQuestion(@item.ID); " class="btn btn-block btn-danger" id="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                                    </div>
                                    <div class="col-xs-2" style="padding: 2px">
                                        <button type="button" class="btn btn-block btn-default col-xs-2" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
                                                }
</table>
<div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trong tổng số @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<script>
    function Edit(id) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("QuickEdit","Posts")",
            data: {
                ID: id
            },
            beforeSend: function () {
                    $("#contentModalEdit").css('background-image', 'url("@Href("~/Public/Loading_icon.gif")');
                    $("#contentModalEdit").css('background-repeat', 'none');
                    $("#modalEdit").modal();
                },
                success: function (data) {
                    $("#contentModalEdit").css('background-image', 'none');
                    $("#contentModalEdit").html(data);

            }
        });
    }


    function DeleteQuestion(id) {
        $("#modalDetails_" + id).modal('hide');
        $("#modalDelete_" + id).modal();
    }
</script>
@*Model edit*@
<div class="modal fade" id="modalEdit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><b>Sửa nhanh bài viết</b></h3>
            </div>
            <div class="modal-body" id="contentModalEdit">
            </div>
            <div class="modal-footer">
                <button type="submit" form="SaveEdit" class="btn btn-warning" id="btnSaveEdit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Lưu thay đổi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>