@model KhachSan.Models.Booking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.custumerID, "custumerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("custumerID", String.Empty)
                @Html.ValidationMessageFor(model => model.custumerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bookingDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bookingDate)
                @Html.ValidationMessageFor(model => model.bookingDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bookingStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bookingStatus)
                @Html.ValidationMessageFor(model => model.bookingStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
