@model IEnumerable<KhachSan.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/TemplateAdmin/_admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.fullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookingStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.fullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
