@model KhachSan.Models.Blog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/TemplateAdmin/_admin.cshtml";
}

<h2><b>Xóa Blog</b></h2>
<h3 style="color:red;">Bạn có chắc muốn xóa Blog này không?</h3>

<table class="table table-bordered table-striped">
    <tr>
        <th>Tên Blog</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <th>Parent</th>
        <td>@Html.DisplayFor(model => model.Blog2.Name)</td>
    </tr>
    <tr>
        <th>Order</th>
        <td>@Html.DisplayFor(model => model.Order)</td>
    </tr>
    <tr>
        <th>Active</th>
        <td>@Html.CheckBoxFor(modelItem => modelItem.Active, new { data_toggle = "toggle", disable = true })</td>
        <th></th>
    </tr>
</table>
<p>
    <div class="form-group form-inline">
        <div class="col-xs-2" style="padding:2px">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-block btn-danger col-xs-2" onclick="DeleteNotice()" data-dismiss="modal" id=" btndelete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
        </div>

        <div class="col-xs-2" style="padding:2px">
            <a href="@Url.RouteUrl("QuanLyBlog")" type="button" class="btn btn-block btn-default col-xs-2">Quay lại</a>
        </div>
    </div>
</p>
<div id="modalNotice" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><b>Thông báo</b></h2>
            </div>
            <div class="modal-body">
                <p id="contentNotice" />
            </div>
            <div class="modal-footer">
                <a href="@Url.RouteUrl("QuanLyBlog")" class="btn btn-default">OK</a>
            </div>
        </div>
    </div>
</div>
<script>
    function DeleteNotice() {
        RequestVerificationToken = $("input[name=__RequestVerificationToken]").val();
        $.ajax({
            type: "Post",
            data: {
                __RequestVerificationToken: RequestVerificationToken
            },
            success: function (data) {
                if (data == "true") {
                    $("#contentNotice").html("Bạn đã xóa thành công !!!");
                } else {
                    $("#contentNotice").html("Xóa thất bại !!!");

                }
                $("#modalNotice").modal();
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

</script>
