@model KhachSan.Models.Room

@{
    ViewBag.Title = "Thêm Phòng";
    Layout = "~/Areas/Admin/Views/TemplateAdmin/_admin.cshtml";
}
<div class="col-md-6 col-md-offset-2">
    <h2>Thêm Phòng</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.roomName, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.roomName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.roomName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.roomDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.roomDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.roomDescription)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.roomPrice,new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.roomPrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.roomPrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.categoryID, null, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("categoryID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.categoryID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.roomQuantily, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.roomQuantily,new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.roomQuantily)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</div>

<div class="col-md-12">
    @Html.ActionLink("Back to List", "Index")
</div>
