@model IEnumerable<KhachSan.Models.Slider>

@{
    ViewBag.Title = "Quản lý trình chiếu";
    Layout = "~/Areas/Admin/Views/TemplateAdmin/_admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.image_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.image_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_Description)
        </td>
        <td>
            <img width="100" height="100" src="@Url.Content(item.image_Path)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
