@model KhachSan.Models.Account
@{
    ViewBag.Title = "QuickEdit";
    Layout = null;
}

@using (Html.BeginForm("QuickEdit", "Users", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.accountName, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.accountName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.accountName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.displayname, new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.displayname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.displayname)
            </div>
        </div>
    </div>
}

