@model KhachSan.Models.BookingDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <h4>Chi Tiết Đặt Phòng</h4>
	<hr />
    <table class="table table-striped">
        <tr>
            <th>Mã số</th>
            <th>Tên Phòng</th>
            <th>Giá phòng</th>
            <th>Số người</th>    
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Loại phòng</th>
            <th>Số phòng</th>
            
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Booking.ID)</td>
            <td>@Html.DisplayFor(model => model.Room.roomName)</td>
            <td>@Html.DisplayFor(model => model.detailPrice)</td>
            <td>@Html.DisplayFor(model => model.detailQuantity)</td>           
            <td>@Html.DisplayFor(model => model.bookingStart)</td>
            <td>@Html.DisplayFor(model => model.bookingEnd)</td>
            <td>@Html.DisplayFor(model => model.typeRoom)</td>
            <td>@Html.DisplayFor(model =>model.roomQuantity)</td>
            
        </tr>
    </table>
       
