@model IEnumerable<Model.MetaData.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/TemplateAdmin/_admin.cshtml";
}

<div class="row">
<div class="col-lg-12">
    <h2 class="page-header"><a href="@Url.Action("Create")" class="create-link" style="text-decoration: none">TẠO MỚI </a></h2>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DANH SÁCH TÀI KHOẢN
            </div>
            <!-- /.panel-heading -->
            <!-- /Hiển thị lên trình duyệt -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th><label>@Html.DisplayNameFor(model => model.accountName)</label></th>
                            <th><label>@Html.DisplayNameFor(model => model.fullName)</label></th>
                            <th><label>@Html.DisplayNameFor(model => model.email)</label></th>
                            <th><label>@Html.DisplayNameFor(model => model.imagePath)</label></th>
                            <th><label>@Html.DisplayNameFor(model => model.active)</label></th>
                            <th>Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- hiển thị các record -->
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX" role="row" id="item_@item.ID">
                                <td>
                                    @Html.DisplayFor(modelItem => item.accountName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.imagePath)
                                </td>

                                <td class="center" style="text-align: left;">
                                    <a href="#" class="btn-active" data-id="@item.ID" style="text-decoration: none">
                                        @{
                                            string a = "Khóa";
                                            if (item.active == true)
                                            {
                                                <p style="color: green" title="Kích Hoạt">
                                                    @(a = "Kích Hoạt")
                                                </p>
                                            }
                                            else
                                            {
                                                <p style="color: red" title="Khóa">@a</p>
                                            }
                                        }
                                    </a>
                                </td>
                                <td class="center" style="text-align: center;">
                                    <a href="@Url.Action("Edit", new {@id = item.ID})" title="Sửa tài khoản @item.accountName" class="edit-link" style="text-decoration: none">
                                        <p class="fa fa-edit"></p>
                                    </a>
                                    <a href="@Url.Action("Details", new {@id = item.ID})" title="Xem chi tiết @item.accountName" class="detail-link" style="text-decoration: none">
                                        <p class="fa fa-folder"></p>
                                    </a>
                                    <a href="@Url.Action("Delete", new {@id = item.ID})" title="Xóa @item.accountName" class="delete-link" style="text-decoration: none">
                                        <p class="fa fa-times"></p>
                                    </a>
                                </td>
                            </tr>
                                            }

                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
