@model KhachSan.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.fullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
